#AlgoVisual {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.value {
  width: 5px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #90ee90;
}
